Flask==2.3.3
Flask-Cors==4.0.0
requests==2.31.0
numpy==1.26.4
pandas==2.1.4
pytz==2024.1
python-dotenv==1.0.0
schedule==1.2.1
duckduckgo-search==6.1.9
beautifulsoup4==4.12.3
lxml==5.1.0
matplotlib==3.8.2
ollama==0.1.9
